<div class="container">
  <h1>Twitter</h1>
  <form id="tweet_form" action="/tweet" method="post">
  <textarea id="tweet_textarea" rows="6" cols="60">
</textarea>
  <input id="tweet_submit" type="submit">
  </form>
</div>